.homeMain {
    background-color: greenyellow;
    color: #D41C21;
    width: 50%;
    margin-left: 25%;
}



@media only screen and (max-width: 2200px) {
    .homeMain {
        width: 60%;
        margin-left: 20%;
    }
}



@media only screen and (max-width: 1500px) {
    .homeMain {
        width: 70%;
        margin-left: 15%;
    }
}



@media only screen and (max-width: 1000px) {
    .homeMain {
        width: 80%;
        margin-left: 10%;
    }
}



@media only screen and (max-width: 700px) {
    .homeMain {
        width: 100%;
        margin-left: 0%;
    }
}