.homeMain {
    width: 50%;
    margin-left: 25%;
    font-family: "Inter", sans-serif;
}



.homeIntroSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}



.homeIntroWords {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 60%;
    padding: 25px 10px 25px 10px;
}



.homeIntroPic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}
.homeIntroPic img {
    border: 1px solid black;
    border-radius: 25px;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}



.homeIntroHeadline {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 2.5em;
}
.homeIntroHeadline span {
    color: #D41C21;
}



.homeIntroParagraph {
    margin-bottom: 20px;
    color: #ffffff;
    text-align: justify;
    text-align-last: left;
    font-size: 1.4em;
}



.homeIntroIcons {
    display: flex;
    flex-direction: row;
}
.homeIntroIcon {
    border: 1px solid black;
    border-radius: 12px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
}
.homeIntroIconImage {
    border-radius: 10px;
}
#icon-li {
    background-color: black;
}
#icon-gh {
    background-color: white;
}



.homeProjectSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.homeProjectHeader {
    font-size: 2.2em;
    color: #ffffff;
}
.homeProjectBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    color: #ffffff;
    background-color: #20383e;
    border-radius: 10px;
}
.projectHeader {
    width: 100%;
    font-size: 2em;
    padding-left: 40px;
}
.projectTechnology {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 40px;
    margin-bottom: 16px;
    font-size: 1.2em;
}
.projectDetail {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    color: #d0d0d0;
    font-size: 1.2em;
}
.projectBubble {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 15px 5px 15px;
    border: 1px solid black;
    border-radius: 8px;
}
.line {
    width: 100%;
    padding-left: 40px;
}
.line div {
    width: 35%;
    height: 1px;
    border-bottom: 2px solid #636363;
    margin-top: 8px;
    margin-bottom: 12px;
}



.highlight {
    color: #D41C21;
}
.spacer {
    height: 8px;
}



@media only screen and (max-width: 2200px) {
    .homeMain {
        width: 60%;
        margin-left: 20%;
    }
}



@media only screen and (max-width: 1500px) {
    .homeMain {
        width: 70%;
        margin-left: 15%;
    }
    .homeIntroHeadline {
        font-size: 2.0em;
    }
    .homeIntroParagraph {
        font-size: 1.1em;
    }
    .homeProjectHeader {
        font-size: 1.7em;
    }
    .projectHeader {
        font-size: 1.5em;
    }
    .projectTechnology {
        font-size: 1em;
    }
    .projectDetail {
        font-size: 1.1em;
    }
}



@media only screen and (max-width: 1000px) {
    .homeMain {
        width: 80%;
        margin-left: 10%;
    }
    .projectDetail {
        font-size: 1em;
        text-align: justify;
        text-align-last: left;
    }
}



@media only screen and (max-width: 700px) {
    .homeMain {
        width: 100%;
        margin-left: 0%;
    }
    .homeIntroSection {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 20%;
    }
    .homeIntroWords {
        width: 90%;
    }
    .homeIntroIcons {
        width: 100%;
        justify-content: center;
    }
    .homeProjectHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .homeProjectHeader span {
        margin-left: 10px;
    }
    .homeProjectBlock {
        width: 96%;
        margin-left: 2%;
    }
    .projectHeader {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .line, .projectDetail {
        padding-left: 10px;
        padding-right: 10px;
    }
    .projectTechnology {
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
    }
    .line div {
        width: 100%;
    }
}


@media only screen and (max-width: 466px) {
    .homeIntroSection {
        margin-top: 27%;
    }
}
@media only screen and (max-width: 429px) {
    .homeIntroSection {
        margin-top: 25%;
    }
    .homeIntroHeadline {
        font-size: 1.8em;
    }
    .homeIntroParagraph {
        font-size: 1em;
    }
    .homeProjectHeader {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 380px) {
    .homeIntroSection {
        margin-top: 30%;
    }
}
@media only screen and (max-width: 344px) {
    .homeIntroSection {
        margin-top: 35%;
    }
    .homeIntroHeadline {
        font-size: 1.4em;
    }
}
@media only screen and (max-width: 320px) {
    .homeIntroSection {
        margin-top: 23%;
    }
    .homeIntroParagraph {
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 312px) {
    .homeIntroSection {
        margin-top: 35%;
    }
}
