.navMainBackground.light {
    background: linear-gradient(to right, #FFFFFF, #FFFFFF);
}
.navMainBackground.dark {
    background: linear-gradient(to right, #072229, #081013);
}
.navMainBackground.forest {
    background: linear-gradient(to right, #D8F3C9, #D8F3C9);
}
.navMainBackground.synth {
    background: linear-gradient(to right, #002bb2, #8e2eb3);
}
.navMainBackground.matrix {
    background: linear-gradient(to right, #001400, #002900);
}



.navMain.light {
    color: #000000;
    border-bottom: 1px solid #425862;
}
.navMain.dark {
    color: #D41C21;
    border-bottom: 1px solid #636363;
}
.navMain.forest {
    color: #000000;
    border-bottom: 1px solid #bd8c61;
}
.navMain.synth {
    color: white;
    border-bottom: 1px solid #ff99d8;
}
.navMain.matrix {
    color: #00ff00;
    border-bottom: 1px solid #ebffeb;
}



.menuColor.light {
    background-color: #000000;
}
.menuColor.dark {
    background-color: #D41C21;
}
.menuColor.forest {
    background-color: #000000;
}
.menuColor.synth {
    background-color: #ffffff;
}
.menuColor.matrix {
    background-color: #00ff00;
}



.menuDropDownItem.light {
    background-color: #425962;
    color: #ffffff;
    border-bottom: 1px solid #88b2cc;
}
.menuDropDownItem.dark {
    background-color: #636363;
    color: #ffffff;
    border-bottom: 1px solid black;
}
.menuDropDownItem.forest {
    background-color: #bd8c61;
    color: #000000;
    border-bottom: 1px solid #000000;
}
.menuDropDownItem.synth {
    background-color: #ff99d8;
    color: black;
    border-bottom: 1px solid #441243;
}
.menuDropDownItem.matrix {
    background-color: #ebffeb;
    color: black;
    border-bottom: 1px solid black;
}



.menuDropDownItem.light:hover {
    background-color: #c83432;
    color: #000000;
}
.menuDropDownItem.dark:hover {
    background-color: #d41c21;
    color: #000000;
}
.menuDropDownItem.forest:hover {
    background-color: #68148f;
    color: #ffffff;
}
.menuDropDownItem.synth:hover {
    background-color: #fff342;
    color: #000000;
}
.menuDropDownItem.matrix:hover {
    background-color: #002900;
    color: #00ff00;
}



.themeMenuItem.light {
    background-color: #425962;
    color: #ffffff;
    border-bottom: 1px solid #88b2cc;
}
.themeMenuItem.dark {
    background-color: #636363;
    color: #ffffff;
    border-bottom: 1px solid black;
}
.themeMenuItem.forest {
    background-color: #bd8c61;
    color: #000000;
    border-bottom: 1px solid #000000;
}
.themeMenuItem.synth {
    background-color: #ff99d8;
    color: black;
    border-bottom: 1px solid #441243;
}
.themeMenuItem.matrix {
    background-color: #ebffeb;
    color: black;
    border-bottom: 1px solid black;
}



.themeMenuItem.light:hover {
    background-color: #c83432;
    color: #000000;
}
.themeMenuItem.dark:hover {
    background-color: #d41c21;
    color: #000000;
}
.themeMenuItem.forest:hover {
    background-color: #68148f;
    color: #ffffff;
}
.themeMenuItem.synth:hover {
    background-color: #fff342;
    color: #000000;
}
.themeMenuItem.matrix:hover {
    background-color: #002900;
    color: #00ff00;
}