.navMainBackground {
    width: 100%;
    background: linear-gradient(to right, #072229, #081013);
    position: sticky;
    top: 0;
}

.navMain {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: #D41C21;
    border-bottom: 1px solid #636363;
}

.navIcon {
    font-size: 1.2em;
    margin-left: 40px;
}

.navList {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}

.navItem {
    margin-right: 25px;
}


@media only screen and (max-width: 2200px) {
    .navMain {
        width: 60%;
        margin-left: 20%;
    }
}


@media only screen and (max-width: 1500px) {
    .navMain {
        width: 70%;
        margin-left: 15%;
    }
}


@media only screen and (max-width: 1000px) {
    .navMain {
        width: 80%;
        margin-left: 10%;
    }
}


@media only screen and (max-width: 700px) {
    .navMain {
        background-color: aqua;
    }
}